html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gainsboro;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.skills-container{
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.navbar_container{
    position: fixed;
    top: 0;
    right: 0;
    background-color: gainsboro;  
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar{
    width: 100%;
    float: right;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}



@media screen and (max-width: 615px) {
    html{
        font-size: small;
    }
}